<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SlagalicaStudent1KT1">
        <activity
            android:name=".RegionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".RegionsActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".FinalResultActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".NotifikacijeActivity"
            android:exported="false" />
        <activity
            android:name=".SkockoActivity"
            android:exported="false" />
        <activity
            android:name=".AsocijacijeActivity"
            android:exported="false" />
        <activity
            android:name=".SpojniceActivity"
            android:exported="false" />
        <activity
            android:name=".KoZnaZnaActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MojBrojActivity"
            android:exported="false" />
        <activity
            android:name=".KorakPoKorakActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
